{{ 'section-home-hero-banner.css' | asset_url | stylesheet_tag }}

<div class="hero-container">
        <a class="hero-media" href="{{section.settings.left_url}}">
            <div class="hero-link">{{ section.settings.left_title }} {% render 'icon-link-arrow' %} </div>
            <img
                srcset="{%- if section.settings.left_image.width >= 375 -%}{{ section.settings.left_image | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 750 -%}{{ section.settings.left_image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 1100 -%}{{ section.settings.left_image | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 1500 -%}{{ section.settings.left_image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 1780 -%}{{ section.settings.left_image | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 2000 -%}{{ section.settings.left_image | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 3000 -%}{{ section.settings.left_image | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if section.settings.left_image.width >= 3840 -%}{{ section.settings.left_image | img_url: '3840x' }} 3840w,{%- endif -%}
                  {{ section.settings.left_image | img_url: 'master' }} {{ section.settings.image.width }}w"
                sizes="(min-width: 750px) 50vw, 100vw"
                src="{{ section.settings.left_image | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ section.settings.left_image.alt | escape }}"
              >
        </a>
        <a class="hero-media" href="{{section.settings.right_url}}">
            <div class="hero-link">{{ section.settings.right_title }} {% render 'icon-link-arrow' %}</div>
            <img
                srcset="{%- if section.settings.right_image.width >= 375 -%}{{ section.settings.right_image | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 750 -%}{{ section.settings.right_image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 1100 -%}{{ section.settings.right_image | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 1500 -%}{{ section.settings.right_image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 1780 -%}{{ section.settings.right_image | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 2000 -%}{{ section.settings.right_image | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 3000 -%}{{ section.settings.right_image | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if section.settings.right_image.width >= 3840 -%}{{ section.settings.right_image | img_url: '3840x' }} 3840w,{%- endif -%}
                  {{ section.settings.right_image | img_url: 'master' }} {{ section.settings.image.width }}w"
                sizes="(min-width: 750px) 50vw, 100vw"
                src="{{ section.settings.right_image | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ section.settings.right_image.alt | escape }}"
              >
        </a>
</div>

{% schema %}
  {
    "name": "Home Hero Banner",
    "settings": [
          {
            "type": "header",
            "content": "Hero Left Block Settings"
          },
          {
            "type": "image_picker",
            "id": "left_image",
            "label": "Left Image"
          },
          {
            "type": "text",
            "id": "left_title",
            "label": "Left Link Title",
            "default": "Your Link"
          },
          {
            "type": "url",
            "id": "left_url",
            "label": "Left Link"
          },
          {
            "type": "header",
            "content": "Hero Right Block Settings"
          },
          {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
          },
          {
            "type": "text",
            "id": "right_title",
            "label": "Right Link Title",
            "default": "Your Link"
          },
          {
            "type": "url",
            "id": "right_url",
            "label": "right Link"
          }
    ]
   }
{% endschema %}